
<div class="container">
    <div [style.visibility]="characterAdded ? 'unset' : 'hidden'" class="row added-message">
        <div class="col-xs-12">
          <div class="alert alert-success" role="alert">{{ characterAddedMessage }}</div>
        </div>
    </div>
    <div [style.visibility]="sideAssignedMessage ? 'unset' : 'hidden'" class="row added-message">
        <div class="col-xs-12">
          <div class="alert alert-info" role="alert">{{ sideAssignedMessage }}</div>
        </div>
    </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <app-header></app-header>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

