<div class="list-group">
  <div *ngIf="characters.length > 0">
      <app-item *ngFor="let character of characters" [character]="character"></app-item>
  </div>
  <div *ngIf="characters.length === 0 && loadedSide === 'all'">
      <div class="loading">
          <h1>Loading</h1>
          <svg id="load" x="0px" y="0px" viewBox="0 0 150 150">
            <circle id="loading-inner" cx="75" cy="75" r="60"/>
         </svg>
        </div>
  </div>
  <h4 *ngIf="characters.length === 0 && loadedSide !== 'all'">No characters have joined the {{loadedSide}} side...</h4>
  <br>
  <div class="table-nav">
    <button class="btn btn-info" (click)="paginate(-1)">&#60;</button>
    <p class="pages" [ngClass]="{'currentPage': currentPage === (pages.indexOf(page)+1)}" *ngFor="let page of pages">&nbsp;{{ page }}&nbsp;</p>
    <button class="btn btn-info" (click)="paginate(1)">&#62;</button>
  </div>
</div>
